
<ng-container *ngIf="detailCards; else statusWait">

    <div class="row text-center aling-self-center py-0" id="Init">
        <div class="col-sm-8 aling-self-center order-0"
        >
            <!-- area que muestra las cards -->
            <ng-container *ngIf="statusCards">
                <section id="" class="row p-0 m-0 justify-content-center">
                    <p class="h4 text-center">{{labelGroup1}}</p>
                    <app-data-card
                        [detailCard]="CardsGroup1"
                        (toggleCards)="toggleCards()"
                        >
                    </app-data-card>
                </section>

                <section id="" class="row p-0 m-0 justify-content-center">
                    <p class="h4 text-center">{{labelGroup2}}</p>
                    <app-data-card
                        [detailCard]="CardsGroup2"
                        (toggleCards)="toggleCards()"
                        >
                    </app-data-card>
                </section>
            </ng-container>

            <!-- zona para mostrar los detalles de cada Card -->
            <ng-container *ngIf = "statusCards == false">
                <div class="flex">
                    <button class="btn btn-default btn-sm" 
                    ngClass='faControl faClose'

                    (click)="toggleCards()"
                    >
                        <fa-icon 
                            [icon]="faTimes"
                            ngClass="faClose fa-2x"
                            >
                        </fa-icon>
                    </button>
                </div>
                <div 
                    *ngFor="let card of detailCards"
                    ngClass="mx-auto"
                >
                    <ng-container *ngIf="card.status"
                        
                        [ngSwitch]="card.name"
                        style="border: 1px solid"
                    >

                        <!-- <app-stout-item    *ngSwitchCase="'stout'"    [item]="currentItem"></app-stout-item> -->
                        <div *ngSwitchCase="'Perfil'"
                            ngClass="basic-container"
                        > <h3>{{card.name}}</h3>
                            <app-profile></app-profile>

                        </div>
                        <div *ngSwitchCase="'Objetivo'"
                            ngClass="basic-container"
                        >Mostrar detalle de Objetivo
                            <app-objetive></app-objetive>
                        </div>
                        <div *ngSwitchCase="'Trayectoria'"
                            ngClass="basic-container"
                        >Mostrar detalle de Trayectoria
                            <app-datos-trayectoria></app-datos-trayectoria>
                        </div>
                        <div *ngSwitchCase="'Formación'"
                            ngClass="basic-container"
                        >Mostrar detalle de Formación
                            <app-datos-formacion>
                        
                            </app-datos-formacion>
                        </div>



                        <div *ngSwitchCase="'Habilidades personales'"
                            ngClass="basic-container"
                        >Muestra las habilidades personales de la base de datos, habilitado el delete
                            <hr>
                            <app-soft-skills></app-soft-skills>
                        </div>
                        <div *ngSwitchCase="'Habilidades tecnicas'"
                            ngClass="basic-container"
                        >Muestra las Habilidades tecnicas de la base de datos, habilitado el delete
                            <br>
                            <app-hard-skills></app-hard-skills>
                        </div>
                        <div *ngSwitchCase="'Proyectos'"
                            ngClass="basic-container"
                        >Muestra los proyectos de la base de datos, habilitado el delete
                            <hr>
                            <app-projects></app-projects>

                        </div>
                        <div *ngSwitchCase="'Intereses'"
                            ngClass="basic-container"
                        > <h3>{{card.name}}</h3>
                            <hr>
                            <app-interests></app-interests>

                        </div>

                        <p *ngSwitchDefault>Tarjeta no encontrada</p>

                    </ng-container>
                </div>
            </ng-container>
        </div>

<!-- Personal Card , aside -->
        <div class="col-sm-4 g-0 m-auto">
            <section id="nameAndImage" class="col order-5 opacity-75 align-self-center" style="border: 1px solid;">

                <app-personal-card></app-personal-card>

            </section>

        </div>

    </div>
    
</ng-container>


<ng-template #statusWait >
    <div
        [ngStyle]="{'background-color': 'red'}">
        <h1 >ESPERANDO</h1>
    </div>
</ng-template>
