<!-- <h5 class="m-auto p-1">{{title}}</h5> -->

<form class="form-row p-1 d-flex justify-content-around" 
[formGroup]="form" #myForm="ngForm"
  (ngSubmit)="onEnviar($event); myForm.resetForm()">


  <!-- NOMBRE -->
  <div class="row" style="width:100% ">
    <div class="col-12">
      <label class="form-label" for="name">Nombre:</label>
      <textarea type="text" id="name" formControlName="name" name="name" class="form-control" placeholder="Nombre"
        [ngStyle]="{'width':'100%'}" formControlName="name" [ngClass]="{'error is-invalid': (Name.invalid && Name.touched),
        'is-valid':Name.valid
      }"></textarea>

    </div>

    <div class="row error-container text-justify-left mx-3">
      <ng-container *ngIf="(Name.invalid && Name.touched); else isOk">
        <div class="mensajeError mx-1" *ngIf="form.hasError('required', 'name')"> Dato requerido </div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('minlength', 'name')"> Mínimo {{
          Name.errors.minlength.requiredLength }} caracteres</div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('maxlength', 'name')"> Máximo {{
          Name.errors.maxlength.requiredLength }} caracteres</div>
      </ng-container>
      <ng-template #isOk>
      </ng-template>
    </div>
  </div> <!-- FIN NOMBRE -->

  <!-- RESUMEN -->
  <div class="row" style="width:100% ">
    <div class="col-12">
      <label class="form-label" for="resume">Resumen:</label>
      <textarea type="text" rows="6" id="resume" formControlName="resume" name="resume" class="form-control "
        placeholder="Resumen" formControlName="resume" [ngClass]="{'error is-invalid': (Resume.invalid && Resume.touched)
        , 'is-valid':Resume.valid}"></textarea>
    </div>

    <div class="row error-container text-justify-left mx-3">
      <ng-container *ngIf="(Resume.invalid && Resume.touched); else isOk">

        <div class="mensajeError mx-1" *ngIf="form.hasError('required', 'resume')"> Dato requerido </div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('minlength', 'resume')"> Mínimo {{
          Resume.errors.minlength.requiredLength }} caracteres</div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('maxlength', 'resume')"> Máximo {{
          Resume.errors.maxlength.requiredLength }} caracteres</div>

      </ng-container>
      <ng-template #isOk>
      </ng-template>
    </div>
  </div> <!-- FIN RESUMEN -->

  <!-- FECHA DE REALIZACION -->
  <div class="row">
    <div class="col">
      <label class="form-label" for="since">Desde:</label>
      <input type="date" id="since" name="since" class="form-control p-2" formControlName="since" [ngClass]="{'error is-invalid': (Since.invalid && Since.touched),
      'is-valid':Since.valid}">


      <div class="row error-container mx-auto">
        <ng-container *ngIf="(Since.invalid && Since.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'since')"> Dato requerido
          </small>

        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>

    </div>
  </div> <!-- FIN FECHA -->
 
 
  <!-- Datepicker ANGULAR
      https://stackoverflow.com/questions/55721254/how-to-change-mat-datepicker-date-format-to-dd-mm-yyyy-in-simplest-way -->

  <!-- URL -->
  <div class="row" style="width:100% ">
    <div class="col-12">
      <label class="form-label" for="url">URL:</label>
      <textarea type="text" id="url" formControlName="url" name="url" class="form-control"
        placeholder="Link del proyecto" formControlName="url"
        [ngClass]="{'error is-invalid': (Url.invalid && Url.touched), 'is-valid':Url.valid}"></textarea>
    </div>

    <div class="row error-container text-justify-left mx-3">
      <ng-container *ngIf="(Url.invalid && Url.touched); else isOk">

        <div class="mensajeError mx-1" *ngIf="form.hasError('required', 'url')"> Dato requerido </div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('minlength', 'url')"> Mínimo {{
          Url.errors.minlength.requiredLength }} caracteres</div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('maxlength', 'url')"> Máximo {{
          Url.errors.maxlength.requiredLength }} caracteres</div>

      </ng-container>
      <ng-template #isOk>
      </ng-template>
    </div>
  </div> <!-- FIN URL-->

  <!-- SUBMIT O CANCELAR Y CERRAR -->
  <div class="form-row m-4" style="width:100% ">
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button type="submit" class="btn btn-success btn-sm p-2 m-2" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button class="btn btn-danger btn-sm p-2 m-2" (click)="onCancel($event); myForm.resetForm()">
        Cancelar
      </button>
    </div>
  </div> <!-- FIN SUBMIT CANCEL -->




</form>