    <!-- Objetivo profesional y Experiencia -->
    <div class="row p-0 m-0">
        <!-- contenedor Objetivo profesional -->
        <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col">
                    <a class="contenedor">
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    
                                    <div class="font-weight-bold align-self-center">Objetivo</div>

                                </div>
                                <div class="flip-box-back" onclick="alert('Hola')">
                                    
                                    <span class="font-weight-bold align-self-center">Detras</span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- <div class="col-sm-9" style="border: 1px solid">
                   
                    <app-objetive></app-objetive>

                </div> -->
            </div>
        </div>
        <!-- contenedor Experiencia -->
        <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col">
                    <a class="contenedor">
                        <div class="flip-box">
                            <div class="flip-box-inner">
                                <div class="flip-box-front">
                                    
                                    <div class="font-weight-bold align-self-center">Experiencia</div>

                                </div>
                                <div class="flip-box-back" onclick="alert('Hola')">
                                    
                                    <span class="font-weight-bold align-self-center">Detras</span>

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <!-- <div class="col-sm-9" style="border: 1px solid">

                <app-datos-trayectoria></app-datos-trayectoria>
                
                </div> -->
                    


            </div>
        </div>
    </div>
    <!-- Datos personales y Perfil -->
    <div class="row p-0 m-0">

        <!-- Contenedor Datos personales -->
        <div class="p-2 col-md-6" style="border: 1px solid;">

            <!-- <input type="checkbox" name="" id="Objetivo" #newValue
            [checked]="newDatos.visibility"
            (click)="updateVisibility(newValue.checked, newValue.id, $event.target)"
            >
            <ng-template #sinMostrar>
                Ver mas
            </ng-template>
            <span *ngIf="newValue.checked; else sinMostrar">Ver menos</span> -->

            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent" style="width: 6rem;">
                        <span>Datos</span>
                        <fa-icon 
                        [icon]="faTimes"
                        [ngStyle] = "{'color':'red', 'text-aling':'center'}" >
                    </fa-icon>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">
                    <app-data></app-data>
                </div>
            </div>
        </div>
        <!-- contenedor Perfil -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent" style="width: 6rem;">
                        <span>Perfil</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">
                    <app-profile></app-profile>

                </div>
            </div>
        </div>

    </div>

    <!-- Objetivo profesional y Experiencia -->
    <div class="row p-0 m-0">
        <!-- contenedor Objetivo profesional -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Objetivo</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">
                   
                    <app-objetive></app-objetive>

                </div>
            </div>
        </div>
        <!-- contenedor Experiencia -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Experiencia</span>
                    </div>
                </div>
                
                <div class="col-sm-9" style="border: 1px solid">

                <app-datos-trayectoria></app-datos-trayectoria>
                </div>
                    


            </div>
        </div>
    </div>
    

