<div class="row p-4 m-0">
<!-- Datos personales y Perfil -->
    <!-- Contenedor Datos personales -->
    <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
        <div class="p-2 row">
            <div class="col">
                <a class="" 
                *ngIf="enableCardDat"
                >
                <div class="flip-box contenedor">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            
                            <div class="font-weight-bold align-self-center">Datos personales</div>
                            
                        </div>
                        <div class="flip-box-back"
                            (click)="toggleContenedorDat()"

                            >
                                <span class="font-weight-bold align-self-center">Ver detalles</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-9" style="border: 1px solid"
                *ngIf="enableDetDat"
                (click)="toggleContenedorDat()"
            >
                <app-data></app-data>
            </div>
        </div>
    </div>

    <!-- contenedor Perfil -->
    <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
        <div class="p-2 row">
            <div class="col">
                <a class="contenedor" 
                *ngIf="enableCardPerfil"
                >
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            
                            <div class="font-weight-bold align-self-center">Perfil</div>
                            
                        </div>
                        <div class="flip-box-back"
                            (click)="toggleContenedorPerfil()"

                            >
                                <span class="font-weight-bold align-self-center">Ver detalles</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-9" style="border: 1px solid"
                *ngIf="enableDetPerfil"
                (click)="toggleContenedorPerfil()"
            >
                <app-profile></app-profile>

            </div>
        </div>
    </div>
</div>

<!-- Objetivo profesional y Experiencia -->
    <div class="row p-4 m-0">
        <!-- contenedor Objetivo profesional -->
        <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col">
                    <a class="contenedor" 
                    *ngIf="enableCardObj"
                    >
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                
                                <div class="font-weight-bold align-self-center">Objetivo</div>
                                
                            </div>
                            <div class="flip-box-back"
                                (click)="toggleContenedorObj()"

                                >
                                    <span class="font-weight-bold align-self-center">Ver detalles</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-9" style="border: 1px solid"
                    *ngIf="enableDetObj"
                    (click)="toggleContenedorObj()"
                >
                    <app-objetive></app-objetive>

                </div>
            </div>
        </div>

        <!-- contenedor Experiencia -->
        <div class="p-2 col-md-6 etiqueta" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col">
                    <a class="contenedor" 
                    *ngIf="enableCardExp"
                    >
                    <div class="flip-box">
                        <div class="flip-box-inner">
                            <div class="flip-box-front">
                                
                                <div class="font-weight-bold align-self-center">Experiencia</div>
                                
                            </div>
                            <div class="flip-box-back"
                                (click)="toggleContenedorExp()"

                                >
                                    <span class="font-weight-bold align-self-center">Ver detalles</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-9" style="border: 1px solid"
                    *ngIf="enableDetExp"
                    (click)="toggleContenedorExp()"
                >

                    <app-datos-trayectoria></app-datos-trayectoria>
                
                </div>
            </div>
        </div>
    </div>


    <app-data-card
        *ngIf="enableCard"
        frontText="Frente nuevo"
        backText="Detras nuevo"
     >
    </app-data-card>

    <div
        *ngIf="enableDet"
    >
        <h1>Mostraria los datos</h1>
    </div>
