<h5 class="m-auto p-1">{{formData.name}}{{title}}</h5>

  <form class="form-inline m-1"
  style="display: flex ; width:90% "
  [formGroup]="form"

  #myForm="ngForm"
  (ngSubmit)="onEnviar($event); myForm.resetForm()"
>
  <div class="col" style="display: contents ; width:100% ">

    <label class="form-label" for="name">Nombre:</label>
    <input type="text" 
        id="name"
        formControlName="name" 
        name="name" 
        class="form-control"
        placeholder="Nombre"
        [ngStyle]="{'width':'100%'}"
        formControlName="name"
        [ngClass] = "{error: (Nombre.invalid && Nombre.touched)}"
    >
    
    <small class="mensajeError" *ngIf="form.hasError('required', 'name')"> Dato requerido </small>
    <small class="mensajeError" *ngIf="form.hasError('minlength', 'name')"> Mínimo {{ Nombre.errors.minlength.requiredLength }} caracteres</small>
    <small class="mensajeError" *ngIf="form.hasError('maxlength', 'name')"> Máximo {{ Nombre.errors.maxlength.requiredLength }} caracteres</small>
    
    <div class="icon-group m-2">
        {{form.valid}}
      <button type="submit" class="btn btn-outline-success btn-sm"
      ngClass="faConfirm fa-ico"
      [disabled]="!form.valid"
      >
        <fa-icon  [icon]="faCheck"> </fa-icon>
      </button>

      <button class="btn btn-outline-danger btn-sm"
      (click)="onCancel($event); myForm.resetForm()"
      ngClass="faCancel fa-ico"
      >
        <fa-icon [icon]="faTimes"> </fa-icon>
      </button>

    </div>


  </div>


  </form>