
<ng-container *ngIf="myData.length">
    <table class="table table-sm table-dark text-left">
        <tbody>
            <tr>
                <app-interests-item
                    *ngFor="let item of myData"
                    [ngStyle]="{'display':'flex','margin':'auto'}"
                    [item]="item"
                    [isAdmin]="isAdmin"
                    [(showBtnAction)]="showBtnAction"
                    
                    
                    (onDelete)="deleteInterest(item)"
                    >
                    
                </app-interests-item>
                <!-- [(size)]= "size" -->

                <app-interests-form
                    *ngIf="showForm"
                    [ngStyle]="{'width':'100%'}"

                    [formData]="formData"

                    (showBtnActionChange)="showBtnAction"
                    (onUpdate)=" addInterest($event)"
                    (cancel)="cancelation($event)"
                    >
                </app-interests-form>
                    <!-- [showForm]="showForm" -->
            </tr>




        </tbody>
    </table>

</ng-container>

<ng-container *ngIf="myData.length && (isAdmin && showBtnAction)">
    <span class="btn btn-default btn-sm" 
    [ngStyle]="{'float':'right'}"

    (click)="toggleForm()"
    >
    <fa-icon
        ngClass="fa-3x"
        [icon]="faPlusCircle"

        >
    </fa-icon>
    </span>
</ng-container>

