
<ng-container *ngIf="myData.length">
    <div class="table-dark text-left container" >
                <app-interests-item
                    *ngFor="let item of myData"
                    [item]="item"
                    
                    (onDelete)="deleteItem(item)"
                    [(showBtnAction)]="showBtnAction"
                    >
                    
                </app-interests-item>
                <!-- [(size)]= "size" -->

                <app-interests-form
                    *ngIf="showForm && flagUserAdmin"

                    [formData]="formData"

                    (showBtnActionChange)="showBtnAction"
                    (onUpdate)=" addInterest($event)"
                    (cancel)="cancelation($event)"
                    >
                </app-interests-form>
        </div>
                    <!-- [showForm]="showForm" -->
</ng-container>

<ng-container *ngIf="myData.length && (flagUserAdmin && showBtnAction)">
    <br>
    <button class="btn btn-default btn-sm" 
    ngClass="faControl fa-ico"
    (click)="toggleForm()"
    >
    <fa-icon
        ngClass="fa-3x"
        [icon]="faPlusCircle"

        >
    </fa-icon>
    </button>
</ng-container>

