
    <!-- Formacion y Hard skill -->
    <div class="row p-0 m-0">
        <!-- contenedor Formación -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Formacíón</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">
                    col-auto DATA 5
                </div>
            </div>
        </div>
        <!-- contenedor Hard skill -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Hard skill</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">col-auto DATA 6</div>
            </div>
        </div>
    </div>

    <!-- Intereses y soft skill -->
    <div class="row p-0 m-0">
        <!-- contenedor Soft skill -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Soft skill</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">col-auto DATA 7</div>
            </div>
        </div>

        <!-- contenedor Intereses -->
        <div class="p-2 col-md-6" style="border: 1px solid;">
            <div class="p-2 row">
                <div class="col-sm-3" style="border: 1px solid">
                    <div class="badge text-bg-light bg-transparent text-wrap" style="width: 6rem;">
                        <span>Intereses</span>
                    </div>
                </div>
                <div class="col-sm-9" style="border: 1px solid">col-auto DATA 8</div>
            </div>
        </div>
    </div>

