<!-- <form [formGroup]="form"  (ngSubmit)="onLogin()" -->
  <form [formGroup]="form"  (ngSubmit)="onEnviar($event)"
    class="form-group"
    >    
        <div class="form-group">
        <div>
            <label for="nombreUsuario" class="form-label" style="color: azure;">Nombre usuario: </label>                          
            <input type="text"  class="form-control" formControlName="nombreUsuario" name="nombreUsuario" placeholder="Ingrese nombre de usuario"
            >
        </div>
        <!-- Gracias al getter que configuramos en el controlador -->
        <div *ngIf="NombreUsuario?.errors  && NombreUsuario?.touched">    
            <p *ngIf="NombreUsuario?.hasError('required')" class="mensajeError">
                El nombre de usuario es requerido.
            </p>
            <p *ngIf="NombreUsuario?.hasError('nombreUsuario')" class="mensajeError">
                El nombre de usuario debe ser válido.
            </p>
        </div>

    </div>
    <div class="form-group">
        <div>
            <label for="exampleInputPassword1" class="form-label" style="color: azure;">Contraseña: </label>
            <input type="password" name="password" formControlName="password"  class="form-control" 
                [class.border-danger]="PasswordValid" placeholder="Contraseña">
        </div>
        <!-- Gracias al getter que configuramos en el controlador -->
        <div *ngIf="Password?.errors  && Password?.touched">
            <p *ngIf="Password?.hasError('required')" class="mensajeError">
            El password es requerido.
            </p>
            <p *ngIf="form.hasError('minlength', 'password')" class="mensajeError">
            El password debe tener al menos 3 caracteres.
            </p>
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-primary"
        data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" 

        >Enviar</button>
    </div>
</form>
