<div *ngIf="!showForm" class="table-dark row ">

  <div [ngClass]="{'p-0 col-10':esAdmin, 'col-12':!esAdmin}">
      <div [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
      >
          <ul class="head border rounded fade-in-ul mb-0 mt-2">
            <li class="d-flex justify-content-right align-middle mr-4">
                <!-- <li class="form-row"> -->
                <!-- RESUELTO, vincular el faIcon del atributo -->
                <!-- https://github.com/FortAwesome/angular-fontawesome/blob/HEAD/docs/usage/icon-library.md#using-the-icon-library -->
                <!-- https://stackoverflow.com/questions/74385842/typescript-get-iconname-from-string -->
                <fa-icon *ngIf="iconExists(iconPrefix, item.iconname); else sinIcon"
                    [icon]="[iconPrefix , item.iconname]"></fa-icon>
                
                    <ng-template #sinIcon>
                        <fa-icon class="text-danger" [icon]="faTimes"></fa-icon>
                    </ng-template>
                <!-- {{iconExists(iconPrefix, item.pathIcon)}} -->
                <!-- PENDIENTE, la validacion en el FORM..... -->
                <h6 class="ml-2">{{item.name}}
                <ng-container *ngIf="item.url.length">
                <a class="px-3 url" href="https://{{item.url}}" target="_blank"
                >- visitar sitio web -</a>
                </ng-container>

                </h6>
            </li> 
          </ul>
      </div>
  </div>
  <!-- ##################### -->

  <div class="col icon-group"
  *ngIf="esAdmin && showBtnAction"
  >
      <button class="btn btn-outline-success btn-sm"
          (click)="toggleForm(item);"
          ngClass="faConfirm fa-ico">
          <fa-icon 
              [icon]="faPen"
              
          >
          </fa-icon>
      </button>
      <button class="btn btn-outline-danger btn-sm"
          (click)="delete(item)"
          ngClass="faCancel"
      >
          <fa-icon 
              [icon]="faTrash"
          >
          </fa-icon>
      </button>
  </div>

</div>


<app-social-form
  *ngIf="showForm && esAdmin" [ngStyle]="{'width':'100%'}" 
  [title]="''"
  [item]="item"

  (onUpdate)=" update($event);"
  (cancel)="cancelation($event)"
  >
</app-social-form>