<div class="table-dark text-left container-fluid py-4" id="Init">
    <ng-container *ngIf="baseData.project.length; else agregar">
    
        <div id="listado" *ngIf="!showForm" >

            <app-projects-item 
                *ngFor="let item of baseData.project"
                [item]="item"

                (onDelete)="openModalDelete(item)"
                [(showBtnAction)]="showBtnAction"
                (showBtnActionChange)="showBtnAction"
                >
            </app-projects-item>

        </div>
    </ng-container>

    <app-projects-form
        *ngIf="showForm && esAdmin"
        [ngStyle]="{'width':'100%'}"
        [title]="''"
        [formData]="formData"
        
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation()"
    >
    </app-projects-form>

    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar proyectos.
            </p>
        </div>
    </ng-template>
</div>



<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            
            >
        </fa-icon>
    </button>
</ng-container>