<div
    tabindex="-1" 
    >
    <!-- role="dialog"  -->

    <div class="modal-header">
        <h4 class="modal-title">
            {{ message }}
        </h4>
        El form es valido : {{form.valid}}
        <button type="button" class="close" aria-label="Close" 
          (click)="dialogRef.close(false)"
          >
          <span aria-hidden="false">&times;</span>
        </button>
    </div>
    
    <!-- <mat-dialog-content class="modal-body"> -->
      <form class="table-dark text-left container-fluid p-2 my-2"
        [formGroup]="form"
        #myForm="ngForm"
        >
        <!-- (ngSubmit)="onEnviar($event)" -->
          <!-- <div class="col" style="display: contents ; width:100% "> -->

          <div class="form-group">
            <label class="form-label" for="name">Nombre:</label>
            <input type="text" 
            id="name"
            formControlName="name" 
            name="name" 
            class="form-control"
            placeholder="ingrese nombre completo"
            [ngStyle]="{'width':'100%'}"
            formControlName="name"
            [ngClass] = "{error: (Name.invalid && Name.touched)}"
            >
            <small class="mensajeError" *ngIf="form.hasError('required', 'name')"> Dato requerido </small>
            <small class="mensajeError" *ngIf="form.hasError('minlength', 'name')"> Mínimo {{ Name.errors.minlength.requiredLength }} caracteres</small>
            <small class="mensajeError" *ngIf="form.hasError('maxlength', 'name')"> Máximo {{ Name.errors.maxlength.requiredLength }} caracteres</small>
        
          </div>

          <div class="form-group">
            <label class="form-label" for="lastName">Apellido:</label>
            <input type="text" 
            id="lastName"
            formControlName="lastName" 
            name="lastName" 
            class="form-control"
            placeholder="ingrese apellido"
            [ngStyle]="{'width':'100%'}"
            formControlName="lastName"
            [ngClass] = "{error: (LastName.invalid && LastName.touched)}"
            >
            <small class="mensajeError" *ngIf="form.hasError('required', 'lastName')"> Dato requerido </small>
            <small class="mensajeError" *ngIf="form.hasError('minlength', 'lastName')"> Mínimo {{ LastName.errors.minlength.requiredLength }} caracteres</small>
            <small class="mensajeError" *ngIf="form.hasError('maxlength', 'lastName')"> Máximo {{ LastName.errors.maxlength.requiredLength }} caracteres</small>
          </div>
          
          <div class="form-group">
            <label class="form-label" for="location">Ubicacion:</label>
            <input type="text" 
            id="location"
            formControlName="location" 
            name="location" 
            class="form-control"
            placeholder="zona de residencia permanente"
            [ngStyle]="{'width':'100%'}"
            formControlName="location"
            [ngClass] = "{error: (Location.invalid && Location.touched)}"
            >
            <small class="mensajeError" *ngIf="form.hasError('required', 'location')"> Dato requerido </small>
            <small class="mensajeError" *ngIf="form.hasError('minlength', 'location')"> Mínimo {{ Location.errors.minlength.requiredLength }} caracteres</small>
            <small class="mensajeError" *ngIf="form.hasError('maxlength', 'location')"> Máximo {{ Location.errors.maxlength.requiredLength }} caracteres</small>
          </div>
          
          <div class="form-group">
            <label class="form-label" for="profession">Profesion:</label>
            <textarea type="text" 
            id="profession"
            formControlName="profession" 
            name="profession" 
            class="form-control"
            placeholder="desarrollador, investigador, fullstack, testing..."
            [ngStyle]="{'width':'100%'}"
            formControlName="profession"
            [ngClass] = "{error: (Profession.invalid && Profession.touched)}"
            ></textarea>
            <small class="mensajeError" *ngIf="form.hasError('required', 'profession')"> Dato requerido </small>
            <small class="mensajeError" *ngIf="form.hasError('minlength', 'profession')"> Mínimo {{ Location.errors.minlength.requiredLength }} caracteres</small>
            <small class="mensajeError" *ngIf="form.hasError('maxlength', 'profession')"> Máximo {{ Location.errors.maxlength.requiredLength }} caracteres</small>
          </div>



          <div class="form-group">
          <label class="form-label" for="email">Email:</label>
            <input type="email" 
            id="email"
            formControlName="email" 
            name="email" 
            class="form-control"
            placeholder="ingrese uncorreo@email.com .... "
            [ngStyle]="{'width':'100%'}"
            formControlName="email"

            [ngClass] = "{error: (Email.invalid && Email.touched)}"
            >
            <small class="mensajeError" *ngIf="form.hasError('required', 'email')"> Dato requerido </small>
            <small class="mensajeError" *ngIf="form.hasError('email', 'email')"> Verifique el correo ingresado</small>
          </div>
          

          <div class="form-group">
            <label class="form-label" for="since">Nacido el:</label>
            <input type="date"
            id="since"
            name="since"
            class="form-control"
            [ngStyle]="{'width':'100%'}"
            formControlName="since"
            [ngClass] = "{error: (Since.invalid && Since.touched)}"
            >
            <small class="mensajeError" *ngIf="form.hasError('required', 'since')"> Dato requerido </small>
          </div>

          <!-- Quitar error del DOM : https://stackoverflow.com/questions/54580161/failed-to-set-the-value-property-on-htmlinputelement-in-reactive-form -->
          <!-- <div class="form-group">
            <label for="pathFoto">Foto:</label>
            <input type="file" 
            id="src-file1"
            name="pathFoto"

            [ngClass] = "{error: (PathFoto.invalid && PathFoto.touched)}"
            class="file-select" 
            accept=".jpeg, .jpg, .bmp, .png"
            (change)="upLoadFile($event)"
            > -->
            <!-- placeholder="url archivo con la imagen" -->
            <!-- <small class="mensajeError" *ngIf="form.hasError('required', 'pathFoto')"> Imagen requerida </small>
          </div> -->

        <!-- </div> -->
    </form>
  <!-- </mat-dialog-content> -->


  <!-- <mat-dialog-actions class="modal-footer" > -->
    <div class="icon-group m-2">

      <button type="submit" class="btn btn-outline-success btn-sm"
      ngClass="faConfirm fa-ico"
      (click)="onSubmit(form.value)"
      [disabled]="!form.valid"
      >
        <fa-icon  [icon]="faCheck"> </fa-icon>
      </button>

      <button class="btn btn-outline-danger btn-sm"
      (click)="dialogRef.close(false)"
      ngClass="faCancel fa-ico"
      >
        <fa-icon [icon]="faTimes"> </fa-icon>
      </button>

    </div>
  <!-- </mat-dialog-actions> -->

</div>

