<div class="table-dark text-left container-fluid">
    <ng-container *ngIf="myData.length; else agregar">
        <div *ngIf="!showForm"
        >
            <app-studie-item 
                *ngFor="let item of myData"
                [item]="item"
                [formData]="formData"
                (onDelete)="openModalDelete(item)"
                
                [myOrganizations]="myOrganizations"
                (myOrganizationsChange)="myOrganizations"
                [myDegrees]="myDegrees"
                (myDegreesChange)="myDegrees"

                [(showBtnAction)]="showBtnAction"
            >

            </app-studie-item>


        </div>
    </ng-container>

    <app-studie-form
        *ngIf="showForm && esAdmin"
        [ngStyle]="{'width':'100%'}"
        [formData]="formData"
        [title]="'Agregar un estudio'"
        
        [myOrganizations]="myOrganizations"
        (myOrganizationsChange)="myOrganizations"
        
        [myDegrees]="myDegrees"
        (myDegreesChange)="myDegrees"
        
        (showBtnActionChange)="showBtnAction"
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation()"
    >
    </app-studie-form>

    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar estudios/formacion.
            </p>
        </div>
    </ng-template>
</div>



<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
        [icon]="faPlusCircle"
        
            >
        </fa-icon>
    </button>
</ng-container>

