<div class="table-dark text-left container-fluid py-4" >

    <ng-container *ngIf="baseData.laboralCareer.length; else agregar">
    
        <div id="listado" *ngIf="!showForm" >

            <app-career-item 
                *ngFor="let item of baseData.laboralCareer"
                [item]= "item"
                (onDelete)="openModalDelete(item)"
                >
            </app-career-item>

        </div>
    </ng-container>

    <app-career-form
        *ngIf="showForm && esAdmin"
        [ngStyle]="{'width':'100%'}"
        [title]="'Agregar un trabajo'"
        [formData]="formData"
        
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation($event)"
        >
    </app-career-form>
    <!-- [formData]="formData" -->
    <!-- (showBtnActionChange)="showBtnAction" -->


    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar trabajos.
            </p>
        </div>
    </ng-template>
</div>


<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            >
        </fa-icon>
    </button>
</ng-container>




