<div class="table-dark text-left container-fluid py-4" >
    <ng-container *ngIf="baseData.laboralCareer.length; else agregar">
        <div *ngIf="!showForm" >

            <app-career-item 
                *ngFor="let item of baseData.laboralCareer"
                [item]="item"
                [formData]="formData"
                (onDelete)="openModalDelete(item)"
                
                [(showBtnAction)]="showBtnAction"
                >
            </app-career-item>
            <!-- [myOrganizations]="myOrganizations"
            (myOrganizationsChange)="myOrganizations"
            [myRolePositions]="myRolePositions"
            (myRolePositionsChange)="myRolePositions" -->


        </div>
    </ng-container>

    <app-career-form
        *ngIf="showForm && esAdmin"
        [ngStyle]="{'width':'100%'}"
        [formData]="formData"
        [title]="'Agregar un trabajo'"
        
        (showBtnActionChange)="showBtnAction"
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation($event)"
        >
    </app-career-form>


    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar trabajos.
            </p>
        </div>
    </ng-template>
</div>



<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            >
        </fa-icon>
    </button>
</ng-container>

