<div class="table-dark text-left container-fluid py-1 pb-4" id="Init"  >

    <ng-container *ngIf="baseData.laboralCareer.length; else agregar">
        <div class="row d-flex justify-content-start"
        >
            <button *ngIf="esAdmin && ( openForm == 0)"
            (click)="openOrdered();"
            class="m-1"
            >
                <fa-icon [icon]="faUpDown" ngClass="fa-1x">
                </fa-icon>
                <small><span class="ml-1">Orden</span></small>
            </button>
        </div>

    <div class="listado mt-2" *ngIf="!showForm">

            <app-career-item 
            *ngFor="let item of baseData.laboralCareer"
            [item]="item"

            (onDelete)="openModalDelete(item)"
            [(showBtnAction)]="showBtnAction"
            (showBtnActionChange)="showBtnAction"
            >
            </app-career-item>

        </div>
    </ng-container>

    <!-- [ngStyle]="{'width':'100%'}" -->
    <app-career-form
        *ngIf="showForm && esAdmin"
        [title]="''"
        [formData]="formData"
        
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation($event)"

        [(showBtnAction)]="showBtnAction" 
        (showBtnActionChange)="showBtnAction">
        >
    </app-career-form>
    <!-- [formData]="formData" -->
    <!-- (showBtnActionChange)="showBtnAction" -->


    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar trabajos.
            </p>
        </div>
    </ng-template>
</div>


<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            >
        </fa-icon>
    </button>
</ng-container>




