<!-- HTML principal -->
<!-- <router-outlet></router-outlet> -->
<app-top-bar></app-top-bar>

<div class="container-fluid">

    <app-main></app-main>

</div>

<app-footer></app-footer>

<!-- 
<div class="container-fluid">

    
    <div class="row justify-content-end">
        <app-btn-display
            textBtnAdd = "{{ showListUsers ? 'Cerrar listado' : 'Ver usuarios' }}"
            BGcolor = "{{ showListUsers ? 'azure' : 'cadetblue' }}"
            FGcolor = 'black'
            
            (btnClick)="toggleListUser(showListUsers ? 'azure' : 'cadetblue')"
            >
        </app-btn-display>
    </div>

    <app-user-data
        *ngIf='showListUsers'
    >
    </app-user-data> -->

<!-- 
    <div class="row text-center aling-self-center py-3">

        
        <div class="col-sm-8 g-0 m-auto">

            <div class="col aling-self-center order-1" style="border: 1px solid;">

                <section id="profileObjectiveAndTrajectory" class="row p-0 m-0 justify-content-center">
                    <p class="h4 text-center">Perfil, objetivo, trayectoria</p>


                    <app-bloque-datos-obj-profile></app-bloque-datos-obj-profile>

                </section>
            </div>

            <div class="col aling-self-center order-1" style="border: 1px solid;">

                <section id="formacionSkillInt" class="row p-0 m-0 justify-content-center">
                    <p class="h4 text-center">Formación, habilidades e intereses</p>


                    <app-bloque-formacion-skill-int></app-bloque-formacion-skill-int>


                </section>
            </div>
        
        </div>
        
        <div class="col-sm-4 g-0 m-auto">
            <section id="nameAndImage" class="col order-5 opacity-75 align-self-center" style="border: 1px solid;">

                <app-personal-card></app-personal-card>

            </section>

        </div>
    </div>

</div> -->


