
<ng-container *ngIf="!showForm"

>
            <td
            
            
            >{{showBtnAction}}</td>
            <td style="width:80%;"
            >
            <!-- (dblclick)="toggleForm(item);" -->
                <span [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
                >{{item.name}}  </span>
            </td>
            
            <td *ngIf="isAdmin && showBtnAction"
                class="btn btn-outline-secondary btn-sm"
                (click)="toggleForm(item);"
            >
                <fa-icon 
                    [icon]="faPen"
                    [ngStyle] = "{'color':'green','margin':'0px 1em'}"
                >
                </fa-icon>
            </td>
    
            <td *ngIf="isAdmin && showBtnAction"
                class="btn btn-outline-secondary btn-sm"
                (click)="delete(item)" 
            >
                <fa-icon 
                    [icon]="faTrash"
                    [ngStyle] = "{'color':'red','margin':'0px 1em'}"
                >
                </fa-icon>
            </td>
</ng-container >

<app-interests-form
    *ngIf="showForm"
    [ngStyle]="{'width':'100%'}"
    
    [formData]="formData"
    
    (onUpdate)=" update($event);"
    (cancel)="cancelation($event)"
    >
</app-interests-form>