
<ng-container *ngIf="!showForm">
            <td>{{showBtnAction}}</td>
            <td style="width:80%;"
            >
            <!-- (dblclick)="toggleForm(item);" -->
                <span>{{item.name}}  </span>
            </td>
            
            <td *ngIf="isAdmin && showBtnAction"
                (click)="toggleForm(item);"
            >
                <fa-icon 
                    [icon]="faPen"
                    [ngStyle] = "{'color':'green','font-weight':'bolder', 'margin':'0 5px'}"
                >
                </fa-icon>
            </td>
    
            <td *ngIf="isAdmin && showBtnAction"
                (click)="delete(item)" 
            >
                <fa-icon 
                    [icon]="faTrash"
                    [ngStyle] = "{'color':'red','font-weight':'bolder', 'margin':'0 5px'}"
                >
                </fa-icon>
            </td>
</ng-container >

<app-interests-form
    *ngIf="showForm"
    [ngStyle]="{'width':'100%'}"
    
    [formData]="formData"
    
    (onUpdate)=" update($event);"
    (cancel)="cancelation($event)"
    >
</app-interests-form>