
<ng-container *ngIf="!showForm"
    
>
    <div class="container row"
    [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
    >
            <div class="col-8"
            >
            <!-- (dblclick)="toggleForm(item);" -->
                <span 
                >{{item.name}}  </span>
            </div>
            <div class="col-4"
             *ngIf="isAdmin && showBtnAction"
             [ngStyle] = "{'display':'flex'}"
            >
                <fa-icon 
                    [icon]="faPen"
                    [ngStyle] = "{'color':'green','margin':'0px 1em'}"
                    class="btn btn-outline-secondary btn-sm"
                (click)="toggleForm(item);"
                >
                </fa-icon>

                <fa-icon 
                    [icon]="faTrash"
                    [ngStyle] = "{'color':'red','margin':'0px 1em'}"
                    class="btn btn-outline-secondary btn-sm"
                (click)="delete(item)"
                >
                </fa-icon>

        </div>
    </div>
</ng-container >

<app-interests-form
    *ngIf="showForm"
    [ngStyle]="{'width':'100%'}"
    
    [formData]="formData"
    
    (onUpdate)=" update($event);"
    (cancel)="cancelation($event)"
    >
</app-interests-form>