<div *ngIf="!showForm" class="table-dark row ">

    <div [ngClass]="{'p-0 col-10':esAdmin, 'col-12':!esAdmin}">
        <div [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
        >
            <ul class="head border rounded fade-in-ul mb-0 mt-2">
               <li><h6>{{item.name}}</h6></li>
            </ul>
        </div>
    </div>
    <!-- ##################### -->
        
    <div class="col icon-group"
            *ngIf="esAdmin && showBtnAction"
        >
        <button class="btn btn-outline-success btn-sm"
            (click)="toggleForm(item);"
            ngClass="faConfirm fa-ico">
            <fa-icon 
                [icon]="faPen"
                
            >
            </fa-icon>
        </button>
        <button class="btn btn-outline-danger btn-sm"
            (click)="delete(item)"
            ngClass="faCancel"
        >
            <fa-icon 
                [icon]="faTrash"
            >
            </fa-icon>
        </button>
    </div>

</div>

<!-- [formData]="formData" -->
<app-roleposition-form
    *ngIf="showForm && esAdmin"
    [ngStyle]="{'width':'100%'}"
    [title]="''"
    [item]="item"
    (onUpdate)=" update($event);"
    (cancel)="cancelation($event)"

    >
</app-roleposition-form>