
  <form class="form-inline"
    [formGroup]="form"
    #myForm="ngForm"
    (ngSubmit)="onEnviar($event); myForm.resetForm()"
  >
    <div style="display: flex ; width:100% ">
      <input type="text" formControlName="name" name="name" class="input-data"
      [ngStyle]="{'width':'90%'}"
      formControlName="name"
      [ngClass] = "{error: (Nombre.invalid && Nombre.touched)}"
      
      >

      <div class="col">
        <button type="submit" class="btn btn-outline-success btn-sm"
            ngClass="faConfirm"
             [disabled]="!form.valid"
        >
          <fa-icon 
            [icon]="faCheck"
            >
          </fa-icon>
        </button>

      </div>

      <div class="col"
        (click)="onCancel($event); myForm.resetForm()"
      >
        <button class="btn btn-outline-success btn-sm"
        ngClass="faCancel"
        >
        <fa-icon 
        [icon]="faTimes"
            >
          </fa-icon>
        </button>

      </div>


    </div>


    </form>
    <small class="mensajeError"
      *ngIf="form.hasError('minlength', 'name')"> Minimo {{ Nombre.errors.minlength.requiredLength }} caracteres
    </small>

