/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,700&display=swap');

@font-face {
    font-family: 'Julius-Sans-One';
    font-style: normal;  /* light */                       
    src: local('Julius Sans One'), local('Julius-Sans-One'), url(./assets/fonts/JuliusSansOne-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

:root {
    --body-font-family:'Julius-Sans-One','roboto', system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --metal: #e3e3e3;
    --metallight-shadow: #b5b5b5;
    --metaldark-shadow: #787878;
}

html, body { height: 100%; }

body {
    font-family: var(--body-font-family);
    background-image: linear-gradient(90deg, var(--metaldark-shadow) 0%, var(--metallight-shadow) 25%, var(--metal) 50%, var(--metallight-shadow) 75%, var(--metaldark-shadow) 100% ) !important;
}

mat-dialog-container#modal-component {
    border: 3px solid #262626;
    border-radius: 11px;
    background-color: #1a1a1a;
    color: white;
}

.init {

}

.basic-container {
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkslategray;

    margin: 0.5em;
    padding: 0.5em;
}

.icon-group {
    display: flex;
}
button.fa-ico {
    margin: 0px 1em;
}

.faControl {
    display:block;
    float: right;
    padding: 5px 1em;
    /* margin-right: 1em; */
    }

.faClose > svg {
        padding: 0px 5px;
        color: var(--danger);
    }
    .faClose > svg:hover {
        padding: 0px 5px;
        color:white;
        background-color: var(--danger);
    }
    


.faCancel{
    display:flex;
    padding: 0px 1em;
    border-radius: 5px;
    align-items: center;
    }
    .faCancel > svg {
        padding: 0px 5px;
        color: var(--danger);
    }
    .faCancel > svg:hover {
        padding: 0px 5px;
        color:white;
    }

.faConfirm{
    display:flex;
    padding: 0px 1em;
    border-radius: 5px;
    align-items: center;
    }
    .faConfirm > svg {
        padding: 0px 5px;
        color: green;
    }
    .faConfirm > svg:hover {
        padding: 0px 5px;
        color:white;
    }


.input-data {
    display: flex;
    background-color: antiquewhite;
    margin-left: 5px;
    padding-left: 5px;
    cursor: pointer;
    border-left: 5px transparent;
    }
    
    .input-data.error {
    border-left: 5px solid red;
    padding-left: 5px;
    }
    
    .mensajeError {
    background-color:rgb(176, 76, 65); 
    color: white;
    font-weight: bold;
    padding: 5px;
    }