/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,700&display=swap');

@font-face {
    font-family: 'Julius-Sans-One';
    font-style: light;  /* light */                       
    src: local('Julius Sans One'), local('Julius-Sans-One'), url(./assets/fonts/JuliusSansOne-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Quinta-light';
    font-style: normal;  /* light */
    src: local('BwQuintaPro light'), local('BwQuintaPro-light'), url(./assets/fonts/BwQuintaPro-Light.woff2 )  format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }


:root {
    /* --body-font-family:'Julius-Sans-One','roboto', system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    --body-font-family:'Quinta-light','roboto', system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-size: 110%;
    --metal: #e3e3e3;
    --metallight-shadow: #b5b5b5;
    --metaldark-shadow: #787878;

    /* ATRIBUTO COMUN, SIRVE PARA RESALTAR ALGO BAJO UN TONO COMÚN, ej: Star */
    --acento: #00ff00;  /* --progress-color */
    --acento-bg: #00468b !important;  /* 5 */
    color: rgb(141, 174, 177);
    --grosor: 5px;
    --text-color: rgb(199, 201, 202);
    --text-warning: rgb(255, 193, 7) ;
    /* --atencion:rgb(199, 199, 45) ; */
    --triada-color-l: #bd93f9;
    --triada-color-m: #6272a4;
    --triada-color-d: #44475a;

}

html, body { height: 100%; 
    /* background-color: #262626; */
    box-sizing: border-box;
}
/* html, body {
    font-family: var(--body-font-family); 
    background-image: linear-gradient( 90deg, 
            #857366 0%, 
            #d6d0cc 25%, 
            #823800 25%, 
            #857366 75%, 
            rgb(53,23,0) 100% ) !important; 
        } */
        
html, body {
    font-family: var(--body-font-family);
    font-size: var(--font-size);
    height: 2000px; /* Used to enable scrolling */
    background: linear-gradient(70deg, var(--triada-color-l) 0%, 
        var(--triada-color-m) 71%, var(--triada-color-d) 85%);
    }

/* #2F4F4F y #72956E */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Quinta-light';
    font-style: normal;
    font-weight: bold;
    /* letter-spacing: 1.5rem; */
    }
a.header {
    font-size: calc(var(--font-size) * 1.1);
    letter-spacing: .1rem;
    font-style: italic;
}

ul, li {
    list-style-type: none;
}

p {
    text-indent: 1.5rem ;
}

.sombreado {
    box-shadow: 3px 5px 4px #888888;
}

section.row:nth-child(1), section.row:nth-child(2) {
    display: block;
    }


/* MODAL STYLE */
mat-dialog-container#modal-component, mat-dialog-container#modal-delete {
    border: 3px solid #262626 !important;
    border-radius: 15px !important;
    background-color: #1a1a1a !important;
    color: white !important;
    padding: 0rem !important;
    padding-bottom: 1rem !important;
}
    .close > span {
        padding: 0px 15px;
        font-size: calc(var(--font-size) * 1.1);
        color: var(--danger);
    }
        .close > span:hover {
            /* padding: 0px 15px; */
            color:white;
            background-color: var(--danger);
        }

.init {

}

.basic-container {
    /* display: inline-flexbox; */
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 5px 5px 5px darkslategray;
    width: 100%;
    margin: 0.5em;
    padding: 0.5em;
}

.icon-group {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0px;
    padding-right: 5px;
}
button.fa-ico {
    margin: 0px 1em;
    max-height: 1.5rem;
}

.faControl {
    display:block;
    float: right;
    padding: 5px 1em;
    /* margin-right: 1em; */
    }

.faClose > svg {
        padding: 0px 5px;
        color: var(--danger);
    }
    .faClose > svg:hover {
        padding: 0px 5px;
        color:white;
        background-color: var(--danger);
    }

    


.faCancel{
    display:flex;
    padding: 0px 1em;
    border-radius: 5px;
    align-items: center;
    }
    .faCancel > svg {
        padding: 0px 5px;
        color: var(--danger);
    }
    .faCancel > svg:hover {
        padding: 0px 5px;
        color:white;
    }

.faConfirm{
    display:flex;
    padding: 0px 1em;
    border-radius: 5px;
    align-items: center;
    }
    .faConfirm > svg {
        padding: 0px 5px;
        color: green;
    }
    .faConfirm > svg:hover {
        padding: 0px 5px;
        color:white;
    }


.input-data {
    display: flex;
    background-color: antiquewhite;
    margin-left: 5px;
    padding-left: 5px;
    cursor: pointer;
    border-left: 5px transparent;
    }
    
    .error {
    border-left: 5px solid red;
    padding-left: 5px;
    }
    
    .mensajeError {
    background-color:rgb(176, 76, 65); 
    color: white;
    font-weight: bold;
    font-size: calc(var(--font-size) * 0.9) ;
    padding: 5px;
    }




   
.loader   {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:150px;
    height:150px;
    background:transparent;

    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-family:sans-serif;
    font-size:calc(var(--font-size) * 1);
    color:white;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:0 0 10px blue;
    /* box-shadow:0 0 20px rgba(0,0,0,.5); */
    }
    .loader:before
    {
      content:'';
      position:absolute;
      top:-3px;
      left:-3px;
      width:100%;
      height:100%;
      border:3px solid transparent;
      border-top:3px solid #2387aa;
      border-right:3px solid #2387aa;
      border-radius:50%;
      animation:animateC 2s linear infinite;
    }
    span#loader
    {
      display:block;
      position:absolute;
      top:calc(50% - 2px);
      left:50%;
      width:50%;
      height:4px;
      background:transparent;
      transform-origin:left;
      animation:animate 2s linear infinite;
    }
    span#loader:before
    {
      content:'';
      position:absolute;
      width:16px;
      height:16px;
      border-radius:50%;
      background:blue;
      top:-6px;
      right:-8px;
      box-shadow:0 0 20px blue;
    }
    @keyframes animateC
    {
      0%
      {
        transform:rotate(0deg);
      }
      100%
      {
        transform:rotate(360deg);
      }
    }
    @keyframes animate
    {
      0%
      {
        transform:rotate(45deg);
      }
      100%
      {
        transform:rotate(405deg);
      }
    }

    /* estilos para listado de trayectoria, educacion y proyectos */
    ul {
        margin-top: 0 !important;
    }
ul.head {
    cursor: pointer !important;
    font-size: calc(var(--font-size) * 1.1);
    padding: 0.5rem;
    color: var(--text-color);
    border-left: .3rem solid var(--text-color) !important;
    margin-left: 0.5rem !important;
}

ul.head:hover {
    /* border-left: 0.3rem solid rgb(111, 92, 252) !important; */
    border-color: rgb(111, 92, 252) !important;
    color: white !important;
    background-color: #4d4d63;

    animation: fadeIn 2s; 
}


ul.head a:link, ul.head a:visited, a.url {
    color: inherit;
    text-decoration: none;
    cursor: auto;
}

ul.head  a:link:active, ul.head a:visited:active, 
a.url:link:active, a.url:visited:active {
    color: inherit;
}

ul.head a:hover {
    color: yellow;
    cursor: pointer;
}

a.url:hover, a.url:active, a.url:visited {
    border: none;
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
}





li.resume > p {
    cursor: auto !important;
    font-size: calc(var(--font-size) * .9);
    padding-left: 1rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

@keyframes fadeIn {
    0% { background-color: initial; }
    100% { background-color: #4d4d63; }
  }
/* listado de trayectoria, educacion y proyectos */


.information {
    cursor: help;
}

.url {
    cursor: context-menu !important;
}

.move {
    cursor: move;
}

.wait {
    cursor: wait;
}

/* .user {
    background: transparent;
} */

.admin {
    background: linear-gradient(-45deg, rgb(110, 92, 143) 0%, 
            rgb(237, 220, 245) 41%, rgb(195, 204, 248) 75%);
}


