
<div
    tabindex="-1" 
    role="dialog" 
>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ message }}Organizaciones
          </h4>
        <button type="button" class="close" aria-label="Close" 
          (click)="dialogRef.close(baseData.organization);"
          >
          <span aria-hidden="false">&times;</span>
        </button>
    </div>

    <div class="modal-body px-0">
        <ng-container *ngIf="baseData.organization.length; else agregar">
            <div class="table-dark text-left container-fluid  py-4" 
            *ngIf="!showForm"
            >
                <app-organization-item 
                    *ngFor="let item of baseData.organization"
                    [item]="item"

                    (onDelete)="openModalDelete(item)"
                    [(showBtnAction)]="showBtnAction"
                >

                </app-organization-item>


            </div>
        </ng-container>

        <app-organization-form
            *ngIf="showForm && esAdmin"

            [title]="'Ingrese una Organizacion'"
            (showBtnActionChange)="showBtnAction"
            
            (onUpdate)=" addItem($event)"
            (cancel)="cancelation($event)"
            >
        </app-organization-form>
        <!-- [formData]="formData" -->

        <ng-template #agregar>
            <div class="table-dark text-left container"  >
                <p> Sin registrar organizaciones.
                </p>
            </div>
        </ng-template>

    </div>

    <div class="modal-footer">
        <!-- Agregar organizaciones -->
        <ng-container *ngIf="esAdmin && showBtnAction">
            <br>
            <button class="btn btn-default btn-sm" 
                ngClass="faControl fa-ico"
                (click)="toggleForm()"
                >
                <fa-icon
                ngClass="fa-3x text-primary"
                    [icon]="faPlusCircle"
                    
                    >
                </fa-icon>
            </button>
        </ng-container>
    </div>

</div>