<div>
    <ng-container *ngIf="myData.length; else agregar">
        <div class="table-dark text-left container-fluid p-5" 
        *ngIf="!showForm"
        >
            <app-organization-item 
                *ngFor="let item of myData"
                [item]="item"

                (onDelete)="deleteItem(item)"
                [(showBtnAction)]="showBtnAction"
            >

            </app-organization-item>


        </div>
    </ng-container>

    <app-organization-form
        *ngIf="showForm && flagUserAdmin"

        [formData]="formData"
        [title]="'Ingrese una Organizacion'"

        (showBtnActionChange)="showBtnAction"
        (onUpdate)=" addItem($event)"
        (cancel)="cancelation($event)"
    >
    </app-organization-form>

    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar organizaciones.
            </p>
        </div>
    </ng-template>
</div>



<ng-container *ngIf="flagUserAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            
            >
        </fa-icon>
    </button>
</ng-container>