  <div class="container-fluid border border-5 border-danger" *ngIf="listToOrdered">
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

      <table class="table-responsive move-list text-center align-middle">
        <colgroup>
          <col >
          <col >
          <!-- <col class="bg-danger" > -->
        </colgroup>
        <thead>
          <tr>
            
            <th scope="col" *ngIf="fields.includes('since')">
              <label class="btn btn-secondary btn-block bg-dark"
                (click)="sinceOrdered();">
                <fa-icon *ngIf="sinceOrder" [icon]="faArrowDown19" ngClass="fa-1x">
                </fa-icon>
                <fa-icon *ngIf="!sinceOrder" [icon]="faArrowDown91" ngClass="fa-1x">
                </fa-icon>
                <span class="ml-1">Por desde</span>
              </label>
            </th>

            <th scope="col" *ngIf="fields.includes('name')">
              <label class="btn btn-secondary btn-block bg-dark "
                (click)="nameOrdered();">
                <fa-icon *ngIf="nameOrder" [icon]="faArrowDownAZ" ngClass="fa-1x">
                </fa-icon>
                <fa-icon *ngIf="!nameOrder" [icon]="faArrowDownZA" ngClass="fa-1x">
                </fa-icon>
                <span class="ml-1">Por nombre</span>
              </label>
            </th>
            
            <th scope="col" *ngIf="fields.includes('resume')">
              <label class="btn btn-secondary btn-block bg-dark"
                (click)="nameOrdered();">
                <fa-icon *ngIf="resumeOrder" [icon]="faArrowDownAZ" ngClass="fa-1x">
                </fa-icon>
                <fa-icon *ngIf="!resumeOrder" [icon]="faArrowDownZA" ngClass="fa-1x">
                </fa-icon>
                <span class="ml-1">Por resume</span>
              </label>
            </th>

            <th scope="col" *ngIf="fields.includes('assessment')">
              <label class="btn btn-secondary btn-block bg-dark"
                (click)="assessmentOrdered();">
                <fa-icon *ngIf="assessmentOrder" [icon]="faArrowDown19" ngClass="fa-1x">
                </fa-icon>
                <fa-icon *ngIf="!assessmentOrder" [icon]="faArrowDown91" ngClass="fa-1x">
                </fa-icon>
                <span class="ml-1">Por valor</span>
              </label>
            </th>



          </tr>
        </thead>
        <tbody class="align-middle">
          <tr class="move-block text-center" *ngFor="let elemento of listToOrdered" cdkDrag
          >

            <td *ngIf="fields.includes('since')">{{elemento.since  | date:'MM-yyyy'}}</td>

            <td *ngIf="fields.includes('name')">{{elemento.name}}</td>

            <td *ngIf="fields.includes('resume')">{{elemento.resume}}</td>

            <td *ngIf="fields.includes('assessment')">{{elemento.assessment}}</td>

            <td class="flex bg-dark">
              <fa-icon [icon]="faUpDown" ngClass="fa-1x"></fa-icon>
            </td>


          </tr>
        </tbody>

      </table>

    </div>
  </div>


  
  <!-- <i class="fa-solid fa-arrow-up-wide-short"></i> -->

  <!-- <i class="fa-solid fa-arrow-down-a-z"></i> -->
  <!-- <i class="fa-solid fa-arrow-up-z-a"></i> -->

  <!-- <i class="fa-solid fa-arrow-down-1-9"></i> -->
  <!-- <i class="fa-solid fa-arrow-down-9-1"></i> -->
  
  <!-- <i class="fa-solid fa-up-down"></i> -->