.resaltado {
    color: yellow;
}

.normal {
    color: inherit;
}

a:hover {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

span.resume {
    font-size: 0.75rem;
    font-style: italic;
    margin: 0;
    margin-left: 2rem;
    
}