.navbar-brand {
    width: auto; 
    margin: 0px !important; 
    height: 3em !important; 
    padding-left: 0px !important;
}

.custom
{
    /* background-color: var(--triada-color-m); */
    background: linear-gradient(45deg, var(--triada-color-l) 0%, 
    var(--triada-color-m) 51%, var(--triada-color-d) 85%);
}

button:hover {
    color: white !important;
    background-color: transparent !important;
}


.fa-container {
    color: grey !important;
    background-color: transparent !important;
    cursor: pointer;
}
.fa-container:hover {
    color: white !important;
    background-color: transparent !important;
}

.latente {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
}

@keyframes pulsate {
    0% { 
        opacity: 0.3;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.3;
    }
}