<!-- componente, mobile menu -->
<section id="menu" class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">User logging</h4>
      <span class="text-muted">Ingresar como administrador</span>
      <fa-icon 
      [icon]="faTimes"
      [ngStyle] = "{'color':'red', 'text-aling':'center'}" >
      </fa-icon>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark justify-content-end">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

</section>

