<div class="row p-4 m-0">

<div class="p-2 col-md-6 etiqueta" style="border: 1px solid; color:red;"
    *ngFor="let card of detailCard"
>

    <div class="p-2 row">
        <div class="col">
            <a class="" 
                *ngIf="statusCards"
            >
                <div class="flip-box container-card">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            
                            <div class="font-weight-bold align-self-center">{{card.name}}</div>
                            
                        </div>
                        <div class="flip-box-back"
                            (click)="toggleContenedor(card.name)"

                            >
                                <span class="font-weight-bold align-self-center">ver mas</span>
                            </div>
                        </div>
                </div>
            </a>
        </div>
        {{card.name}}: {{card.status}}
        <div class="" style="border: 1px solid"
            *ngIf="card.status"
            >
            <a (click)="onClick($event)">
                <fa-icon 
                    [icon]="faTimes"
                    [ngStyle] = "{'color':'red'}" >
                </fa-icon>
            </a>

            <p>{{card.name}} works!</p>

            <div *ngIf="card.modelTemplate == 'lista'">
                <li *ngFor="let item of card.data">{{item}}</li>
            </div>
        </div>

    </div>


</div>
</div>