<div class="row p-0 m-0">

<div class="col-md-6" style="border: 1px solid;"

    *ngFor="let card of detailCard"
>
    <div class="px-2 my-3 row justify-content-center">
        <!-- <div class="col"> -->
            <a class="header"
            [id]="card.name"
            >
                <div class="flip-box container-card">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            
                            <div class="font-weight-bold align-self-center">
                                {{card.name}}
                            </div>
                            
                        </div>
                        <div class="flip-box-back"
                            (click)="toggleContenedor(card.name)"
                            
                            >
                                <span class="font-weight-bold align-self-center p-2">
                                    <p 
                                    *ngIf="card.resume.length > 0 else sinresume"
                                    >
                                        {{card.resume}}
                                    
                                    </p>
                                    <ng-template #sinresume>
                                            {{card.name}}
                                    </ng-template>
                                    <p class="font-weight-normal">ver mas</p></span>
                            </div>
                        </div>
                </div>
            </a>
        <!-- </div> -->
        <!-- <div class="" style="border: 1px solid"
            *ngIf="card.status"
            >
            <a (click)="onClick($event)">
                <fa-icon 
                    [icon]="faTimes"
                    [ngStyle] = "{'color':'red'}" >
                </fa-icon>
            </a>

            <p>{{card.name}} works!</p>

            <div *ngIf="card.modelTemplate == 'lista'">
                <li *ngFor="let item of card.data">{{item}}</li>
            </div>
        </div> -->

    </div>


</div>
</div>