<div class="row p-0 m-0">

<div class="col-md-6" style="border: 1px solid;"

    *ngFor="let card of detailCard"
>
    <div class="px-2 my-3 row justify-content-center">
        <!-- <div class="col"> -->
            <a class="header"
            [id]="card.name"
            >
                <div class="flip-box container-card">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                
                            <div class="font-weight-bold align-self-center">
                                {{card.name}}
                            </div>
                
                        </div>
                        <div class="flip-box-back" (click)="toggleContenedor(card.name)">
                            <span class="font-weight-bold align-self-center p-2">
                                <p *ngIf="card.resume.length > 0 else sinresume">
                                    <small>{{card.resume}}</small>
                
                                </p>
                                <ng-template #sinresume>
                                    {{card.name}}
                                </ng-template>
                                
                                <h6 class="font-weight-normal pt-1 text-primary">ver mas</h6>
                            </span>
                        </div>
                    </div>
                </div>
            </a>

        <!-- QUEDA BIEN, PERO NO ME CONVENCE USARLO AQUI -->
            <!-- <div class="col icon-group">
                <button class="btn btn-outline-success btn-sm" 

                    ngClass="faConfirm fa-ico">
                    <fa-icon [icon]="faPen"></fa-icon>
                </button>
                <button class="btn btn-outline-danger btn-sm" 

                    ngClass="faCancel"
                >
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </div> -->
        <!-- FIN QUEDA BIEN -->

    </div>


</div>
</div>