<div class="table-dark row " *ngIf="!showForm && openForm == 0">
    <!-- <div  class="row container-fluid"> -->

    <div [ngClass]="{'p-0 col-10':esAdmin, 'col-12':!esAdmin}">
        <div [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)">

            <ul class="head border rounded fade-in-ul mb-0 mt-2">
                <div *ngIf="item.endDate; else elseBlock"
                ngClass="information"
                (click)="verOrga(item);"
                >
                    <h6>({{item.startDate | date:'MM-yyyy' }} hasta {{item.endDate | date:'MM-yyyy'}})
                        {{item.organization.name}} -{{item.degree.name}}-</h6>
                </div>
                <ng-template #elseBlock>
                    <h6>(Desde {{item.startDate | date:'MM-yyyy' }}) {{item.organization.name}}
                        -{{item.degree.name}}-</h6>
                </ng-template>

                <li class="resume" *ngFor="let elemento of item.name.split('\n')"
                (click)="verError()"
                >
                    <p><i> {{elemento}}</i></p>
                </li>
            </ul>
        </div>
    </div>

    <!-- ##################### -->
    <div *ngIf="esAdmin  && openForm == 0" class="col icon-group">
        <button class="btn btn-outline-success btn-sm" 
            (click)="toggleForm(item);" 
            ngClass="faConfirm fa-ico">
            <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <button class="btn btn-outline-danger btn-sm" 
            (click)="delete(item)" 
            ngClass="faCancel"
        >
            <fa-icon [icon]="faTrash"></fa-icon>
        </button>
    </div>

</div>
<!-- </div> -->

<app-studie-form *ngIf="showForm && esAdmin" [ngStyle]="{'width':'100%'}" 
[title]="'Agregar un estudio'" 
[formData]="item"

(onUpdate)="update($event);"
(cancel)="cancelation($event)">
</app-studie-form>
