<p>
  USUARIO ADMINISTRADOR: ({{isAdmin}})
  
  <fa-icon 
    [icon]="faTimes"
    [ngStyle] = "{'color':'green'}"

    >
  </fa-icon>
</p>


<app-message-box></app-message-box>



{{UserData.username}}
<div *ngIf="isAdmin">
  <input 
    type="button"
    class="btn btn-success btn-sm"
    (click)="displayForm()"
    value ="{{enableForm ? 'Cancelar': 'Agregar'}}"
  >
  <app-add-user
    *ngIf="enableForm"
    (onAddUser)="addUser($event)"
    (onModificarUser)="editUser($event)"
    [UserData] = "UserData"

  >
  </app-add-user>


  <app-user-data-item  
    *ngFor="let item of users"
      [user]="item"
      (onDeleteUser)="deleteUser(item)"
      (onToggleUser)="toggleAdmin(item)"
      (onUpdateUser)="setUser(item)"
 
    >
  ></app-user-data-item>

</div>