
<ng-container class="m-auto p-1" 
*ngIf="myOrganizations.length > 0 && myDegrees.length> 0; else estaVacio"
  >

  <ng-container *ngIf="!showOrgaForm && !showDegreeForm">
      <h5>Administrar</h5>
      <button  class="btn btn-primary mx-2" (click)="openOrganization()">
        Organizaciones
      </button>
      <button  class="btn btn-primary mx-2" (click)="openDegree()"
      ngClass = "{btn-warning: (!formData.degree) }"
      >
        Niveles
      </button>
      <hr>
  </ng-container>


  <form class="form-inline m-1"
    style="display: flex ; width:100% "
    *ngIf="showPrimaryForm"
    [formGroup]="form"
    #myForm="ngForm"
    (ngSubmit)="onEnviar($event); myForm.resetForm()"
    >
      <div class="row" style="display: contents ; width:100% ">
        <div class="col">
          <label class="form-label" for="organization">Organizacion</label>
          <!-- [(ngModel)]="seleccionadoOrga" -->
          <select class="form-control" formControlName="organization" name="organization" 
          [compareWith]="compararOrganizacion"
          [ngClass] = "{error: (Organization.invalid && Organization.touched)}"
          >
              <option *ngFor="let elemento of myOrganizations" 
              [ngValue]="elemento"
              >
            {{elemento.name}}</option>

          </select>
      <!-- https://www.arquitecturajava.com/angular-select-y-todas-sus-opciones/ -->

          <label class="form-label" for="degree">Grado/Nivel</label>
          <!-- [(ngModel)]="seleccionadoRole" -->
          <select class="form-control" formControlName="degree" name="degree" 
          [compareWith]="compararDegree"
          [ngClass] = "{error: (Degree.invalid && Degree.touched)}"
          >
              <option *ngFor="let elemento of myDegrees" 
              [ngValue]="elemento"
              >
            {{elemento.name}}</option>

          </select>

        </div>

      </div>

      <div class="row" style="display: contents ; width:100% ">
        <div class="col-12"> 
          <label class="form-label" for="name">Nombre:</label>
          <textarea type="text" 
          rows="6"
          id="name"
          formControlName="name" 
          name="name" 
          class="form-control"
          placeholder="Nombre del estudio"
          [ngStyle]="{'width':'100%'}"
          formControlName="name"
          [ngClass] = "{error: (Name.invalid && Name.touched)}"
          ></textarea>
        </div>
          <small class="mensajeError" *ngIf="form.hasError('required', 'name')"> Dato requerido </small>
          <small class="mensajeError" *ngIf="form.hasError('minlength', 'name')"> Minimo {{ Name.errors.minlength.requiredLength }} caracteres</small>
          <small class="mensajeError" *ngIf="form.hasError('maxlength', 'name')"> Máximo {{ Name.errors.maxlength.requiredLength }} caracteres</small>

      </div>

      <div class="row">
          <div class="col">
              <label class="form-label" for="startDate">Desde:</label>
              <input type="date"
              id="startDate"
              name="startDate"
              class="form-control"
              [ngStyle]="{'width':'100%'}"
              formControlName="startDate"
              [ngClass] = "{error: (StartDate.invalid && StartDate.touched)}"
              >
              <small class="mensajeError" *ngIf="form.hasError('required', 'startDate')"> Dato requerido </small>
          </div>
          <div class="col">
              <label class="form-label" for="endDate">Hasta:</label>
              <input type="date"
              id="endDate"
              name="endDate"
              class="form-control"
              [ngStyle]="{'width':'100%'}"
              formControlName="endDate"
              [ngClass] = "{error: (EndDate.invalid && EndDate.touched)}"
              >
          </div>
          
      </div>

      <div class="row icon-group m-2">

        <button type="submit" class="btn btn-outline-success btn-sm"
        ngClass="faConfirm fa-ico"
        [disabled]="!form.valid"
        >
          <fa-icon  [icon]="faCheck"> </fa-icon>
        </button>

        <button class="btn btn-outline-danger btn-sm"
        (click)="onCancel($event); myForm.resetForm()"
        ngClass="faCancel fa-ico"
        >
          <fa-icon [icon]="faTimes"> </fa-icon>
        </button>

      </div>


  </form>

</ng-container>

<ng-template #estaVacio>
  <ng-container *ngIf="myOrganizations.length == 0">
    <p>Debe registrar organizaciones</p>
    <button  class="btn btn-warning" (click)="toggleOrgaForm()">
      Agregar organizaciones
    </button>
  </ng-container>

  <ng-container *ngIf="myDegrees.length == 0">
    <p>Debe registrar niveles de estudio</p>
    <button  class="btn btn-warning" (click)="toggleDegreeForm()">
      Agregar niveles
    </button>
  </ng-container>

</ng-template>

<ng-container *ngIf="showOrgaForm && !showDegreeForm">

    <app-organization
      [(showBtnAction)]="showBtnAction"
      (showBtnActionChange)="showBtnAction"

      [myOrganizations]="myOrganizations"
      (myOrganizationsChange)="myOrganizations"
    ></app-organization>

</ng-container>


<ng-container *ngIf="showDegreeForm && !showOrgaForm">

    <app-degree
      [(showBtnAction)]="showBtnAction"
      (showBtnActionChange)="showBtnAction"

      [myDegrees]="myDegrees"
      (myDegreesChange)="myDegrees"
    ></app-degree>

</ng-container>