<!-- Controles para la administracion de Organizacion y RolePosition -->
<ul class="head form-row p-1 d-flex border rounded fade-in-ul justify-content-center  m-1 mb-0 " id="accederModal">

  <div class="col d-flex align-items-center justify-content-center">
    <h4 class="form-label">Administrar</h4>
  </div>

  <div class=" col d-flex">

    <li class="justify-content-center">
      <ng-container class="form-group col-md-6">

        <button (click)="openOrganization()" [ngClass]="{'btn btn-primary btn-sm m-2': baseData.organization.length, 
                    'btn btn-warning btn-sm m-2': !baseData.organization.length}">
          <ng-container *ngIf="!baseData.organization.length; else verOrga">
            Crear organizaciones
          </ng-container>
          <ng-template #verOrga>Ver organizaciones</ng-template>
        </button>

      </ng-container>
    </li>

    <li class="justify-content-center">
      <ng-container class="col-md-3">

        <button (click)="openDegree()" [ngClass]="{'btn btn-primary btn-sm m-2': baseData.degree.length, 
                      'btn btn-warning btn-sm m-2': !baseData.degree.length}">
          <ng-container *ngIf="!baseData.degree.length; else verNivel">
            Crear niveles
          </ng-container>
          <ng-template #verNivel>Ver niveles</ng-template>
        </button>

      </ng-container>
    </li>
  </div>

</ul>
<!-- FIN Controles para la administracion de Organizacion y RolePosition -->


<form class="form-row p-1 d-flex justify-content-around"
[formGroup]="form" #myForm="ngForm"
  (ngSubmit)="onEnviar($event); myForm.resetForm()">


  <!-- SELECT ORGANIZACION Y FORMACION -->
  <div class="form-row">

    <!-- ORGANIZACION -->
    <div class="form-group col-md-6 ">
      <label class="form-label" for="organization">Organizacion</label>


      <select class="form-control" formControlName="organization" name="organization"
        [compareWith]="compararOrganizacion"
        [ngClass]="{'error is-invalid': (Organization?.invalid && Organization?.touched), 'is-valid': Organization.valid}">

        <option name="defaultOrg" *ngIf="!baseData.organization.length" value="" disabled selected>Sin datos</option>
        <option *ngFor="let elemento of baseData.organization" [ngValue]="elemento">
          {{elemento.name}} </option>

      </select>

      <div class="row error-container mx-auto">
        <small class="mensajeError mx-1" *ngIf="!baseData.organization.length"> Debe crear organizaciones
        </small>
        <ng-container *ngIf="(Organization.invalid && Organization.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'organization')"> Falta seleccionar
          </small>

        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>

    </div> <!-- FIN ORGANIZACION -->

    <!-- NIVEL FORMACION -->
    <div class="form-group col-md-6">

      <!-- https://www.arquitecturajava.com/angular-select-y-todas-sus-opciones/ -->
      <label class="form-label" for="degree">Formación</label>
      <select class="form-control" formControlName="degree" name="degree" [compareWith]="compararDegree"
        [ngClass]="{'error is-invalid': (Degree?.invalid && Degree?.touched), 'is-valid': Degree.valid}">

        <option name="defaultPos" *ngIf="!baseData.degree.length" value="" disabled selected>Sin datos</option>
        <option *ngFor="let elemento of baseData.degree" [ngValue]="elemento">
          {{elemento.name}}</option>

      </select>

      <div class="row error-container mx-auto">
        <small class="mensajeError mx-1" *ngIf="!baseData.degree.length"> Debe crear niveles
        </small>
        <ng-container *ngIf="(Degree?.invalid && Degree?.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'degree')"> Falta seleccionar
          </small>


        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>
    </div> <!--FIN FORMACION  -->

  </div> <!--FIN ORGANIZACION Y FORMACION-->


  <!-- RESUMEN -->
  <div class="row" style="width:100% ">
    <div class="col-12">
      <label class="form-label" for="name">Nombre:</label>
      <textarea type="text" rows="6" id="name" formControlName="name" name="name" class="form-control "
        placeholder="Nombre del curso, carrera o capacitación" formControlName="name" 
        [ngClass]="{'error is-invalid': (Name.invalid && Name.touched)
        , 'is-valid':Name.valid}"></textarea>
    </div>

    <div class="row error-container text-justify-left mx-3">
      <ng-container *ngIf="(Name.invalid && Name.touched); else isOk">

        <div class="mensajeError mx-1" *ngIf="form.hasError('required', 'name')"> Dato requerido </div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('minlength', 'name')"> Mínimo {{
          Name.errors.minlength.requiredLength }} caracteres</div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('maxlength', 'name')"> Máximo {{
          Name.errors.maxlength.requiredLength }} caracteres</div>

      </ng-container>
      <ng-template #isOk>
      </ng-template>
    </div>

  </div> <!-- FIN RESUMEN -->

  <!-- FECHA DE INICIO Y FECHA FIN -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="form-label" for="startDate">Desde:</label>
      <input type="date" id="startDate" name="startDate" class="form-control p-2" formControlName="startDate" [ngClass]="{'error is-invalid': (StartDate.invalid && StartDate.touched),
    'is-valid':StartDate.valid}">


      <div class="row error-container mx-auto">
        <ng-container *ngIf="(StartDate.invalid && StartDate.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'startDate')"> Dato requerido
          </small>

        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>

    </div>
    <div class="form-group col-md-6">
      <label class="form-label" for="endDate">Hasta:</label>
      <input type="date" id="endDate" name="endDate" class="form-control p-2" formControlName="endDate"
        [ngClass]="{'error is-invalid': (EndDate.invalid && EndDate.touched), 'is-valid':EndDate.valid}"
        [attr.min]='StartDate.value'>
    </div>
    <!-- [min]="StartDate.value" -->

  </div> <!-- FIN FECHAS INICIO Y FIN -->

  <!-- SUBMIT O CANCELAR Y CERRAR -->
  <div class="form-row m-4" style="width:100%">
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button type="submit" class="btn btn-success btn-sm p-2 m-2" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button class="btn btn-danger btn-sm p-2 m-2" (click)="onCancel($event); myForm.resetForm()">
        Cancelar
      </button>
    </div>
  </div> <!-- FIN SUBMIT CANCEL -->


</form>