
<div *ngIf="baseData">

    <ng-container *ngIf="baseData.profile.length; else agregarProfile">
        <div class="table-dark text-left container py-2" >

            <ng-container *ngIf="!showForm; else mostrarForm">
                <p *ngFor="let item of baseData.profile.split('\n')">
                    {{item}}
                </p>

            </ng-container>
        </div>
        
    </ng-container>

    <div class="col-4 icon-group"
        *ngIf="esAdmin && showBtnAction && baseData.profile.length != 0"
    >
        <button class="btn btn-outline-success btn-sm"
        (click)="toggleForm();"
            ngClass="faConfirm fa-ico">
            <fa-icon 
                [icon]="faPen"
                
            >
        </fa-icon>
    </button>
    <button class="btn btn-outline-danger btn-sm"
            (click)="onDelete(baseData)"
            ngClass="faCancel"
            >
            <fa-icon 
            [icon]="faTrash"
            >
        </fa-icon>
    </button>
</div>

</div>

<ng-template #mostrarForm >
    <form class="form-inline my-2 py-2"
        [formGroup]="form"

        #myForm="ngForm"
        (ngSubmit)="onEnviar($event);"
    >

        <textarea rows="12" 
            class="input-data"
            name="profile" 
            [ngModel]="baseData.profile"
            
            [ngStyle]="{'width':'100%'}"
            formControlName="profile"
            [ngClass] = "{error: (Profile.invalid && Profile.touched)}"
        > </textarea>

        <div class="icon-group my-2">

            <button type="submit" class="btn btn-outline-success btn-sm"
            ngClass="faConfirm fa-ico"
            [disabled]="!form.valid"
            >
            <fa-icon  [icon]="faCheck"> </fa-icon>
            </button>

            <button class="btn btn-outline-danger btn-sm"
            (click)="onCancel();"
            ngClass="faCancel fa-ico"
            >
            <fa-icon [icon]="faTimes"> </fa-icon>
            </button>

        </div>

    </form>
    <small class="mensajeError"
      *ngIf="form.hasError('minlength', 'profile')"> Mínimo {{ Profile.errors.minlength.requiredLength }} caracteres
    </small>

 
</ng-template>


<ng-template #agregarProfile>
    <div class="table-dark text-left container"  >
        <p> Sin registrar el perfil.
        </p>
    </div>
    <br>
    <ng-container *ngIf="esAdmin">
        <button class="btn btn-default btn-sm" 
            ngClass="faControl fa-ico"
            (click)="onAgregarProfile()"
            >
            <fa-icon
            ngClass="fa-3x text-primary"
                [icon]="faPlusCircle"
                
                >
            </fa-icon>
        </button>
    </ng-container>
</ng-template>




