<form 
  style="border: 2px solid black; padding:15px; background:whitesmoke"
  (ngSubmit)="onSubmit(); "
  >
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" 
    class="form-control" 
    id="username"
    name="username"
    [(ngModel)]="username"
    />

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input 
        type="text" 
        class="form-control" 
        id="password"
        name="password"
        [(ngModel)]="password"
        />
      <div id="passwordhelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input 
      type="checkbox" 
      class="form-check-input" 
      id="admin"
      name="admin"
      [(ngModel)]="admin"
      />
    <label class="form-check-label" for="admin">Administrador</label>
  </div>
  <!-- {{ newusername }} -->
  <input type="submit" class="btn btn-primary btn-sm btn-block" value="Guardar"/>

</form>
{{username}}
<br>
