<form 
  style="border: 2px solid black; padding:15px; background:whitesmoke"
  (ngSubmit)="onSubmit(); "
  >

  <div class="mb-3">
    <label for="miusername" class="form-label">Username</label>
    <input type="text" 
      class="form-control" 
      id="miusername"
      name="miusername"
      [(ngModel)]="miusername"
      />

    <div class="mb-3">
      <label for="mipassword" class="form-label">Password</label>
      <input 
        type="text" 
        class="form-control" 
        id="mipassword"
        name="mipassword"
        [(ngModel)]="mipassword"
        />
      <div id="passwordhelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input 
      type="checkbox" 
      class="form-check-input" 
      id="miadmin"
      name="miadmin"
      [(ngModel)]="miadmin"
      />
    <label class="form-check-label" for="miadmin">Administrador</label>
  </div>
  <!-- {{ newusername }} -->
  <button type="submit" class="btn btn-primary btn-block" value="Agregar">Agregar</button>
</form>
{{miusername}}
<br>
