/* mat-dialog-container {
    margin: 0px  !important;
    padding: 0px  !important;
    overflow: hidden !important;
} */

span.close {
    border: none !important;
    margin: 0% !important;
    padding: 0 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    color: white;
}
    span.close:hover {

        color:white;
        font-weight: bolder;
        background-color: var(--danger);
    }

::ng-deep .modal-content {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    }

::ng-deep mat-dialog-container#modal-warn {
    position:fixed;
    top:0;
    right:0;
    left:auto;
    bottom:auto;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    background: none !important;
 } 

 ::ng-deep mat-dialog-container#modal-info {
    position:relative;
    margin: 1rem !important;
    padding: 2rem !important;
    overflow-x: hidden;
    background: rgba(248,248,248, 1) !important;
 } 
 ::ng-deep .modal-content.error   {
    background: rgba( 202, 87, 93, 1) !important;
    color: white !important;
 }
 ::ng-deep .modal-content.ok {
    background: rgba(119, 179, 93, 0.9) !important;
    padding: 0.5rem !important;
 }

 /* El carácter ^ indica que este selector debe seleccionar los
 elementos <img> sólo si tienen la cadena alerta al comienzo del
 valor del atributo src.  */
 /* img[id^="modal-warn"] {
    border: 5px solid white;
  } */
  


