
<ng-container *ngIf="myData; else statusWait">

<div class="container py-4 p-0 m-0">
    <div class="card"
    >
        <ng-container *ngIf="myData">

            <div class="ratio ratio-1x1 rounded-circle overflow-hidden" style="width: 50%; height: 50%; margin: auto;">

                <img src={{myData.pathFoto}} class="card-img-top img-cover" alt="sin Imagen" >
            </div>

            <div class="card-body">
                <h5 class="card-title">
                    {{ myData.name }} {{ myData.lastName }}
                </h5>
                
                <h6 class="card-text" 
                    *ngFor="let elemento of myData.profession.split('\n')">{{ elemento }}
                </h6>
                <hr style="border: 1px solid;">
                <p>Nacido en {{myData.since}}. {{myData.location}}</p>

            </div>
        </ng-container>
    </div>
</div>

</ng-container>

<ng-template #statusWait >
    <div
        [ngStyle]="{'background-color': 'red'}">
        <h6 >ESPERANDO</h6>
    </div>
</ng-template>
