.label{
    padding: 10px;
    color: #fff;
  }



  input[type="file"] {
      display: none;
  }

  .label-input{
    font: bold 13px Arial;
    text-decoration: none;
    background-color: #2387aa;
    color: #EEEEEE;
    padding: 4px 79px 5px 66px;
    border-top: 1px solid #CCCCCC;
    /* border-right: 1px solid #333333; */
    /* border-bottom: 1px solid #333333; */
    border-left: 1px solid #CCCCCC;
  }


