<ng-container *ngIf="!showForm">

    <div class="rating" id="{{item.name.replace(regex,'')}}" 
    attr.mylabel={{item.name}} 
    attr.myvalue="{{item.assessment}}"
    >
        <div class="container-fluid" style="display: inline-block;"
        [ngClass]="color" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)"
        >
            <div class="rtngSide">
                <span>hability</span>
            </div>
            
            <div class="rtngMiddle">
                <div class="star-container">
                <span class="rtngIcoStar disable" >
                    <fa-icon 
                    [icon]="faHand"
                    >
                    </fa-icon>
                </span>
                <span class="rtngIcoStar disable" >
                    <fa-icon 
                    [icon]="faHand"
                    >
                    </fa-icon>
                </span>
                <span class="rtngIcoStar disable" >
                    <fa-icon 
                    [icon]="faHand"
                    >
                    </fa-icon>
                </span>
                <span class="rtngIcoStar disable" >
                    <fa-icon 
                    [icon]="faHand"
                    >
                    </fa-icon>
                </span>
                <span class="rtngIcoStar disable" >
                    <fa-icon 
                    [icon]="faHand"
                    >
                    </fa-icon>
                </span>
                </div>
            </div>
        </div>

        <div class="rtngSide rtngEnd" style="display: none;">
            <span>{{item.assessment}}</span>
        </div>
<!-- ##################### -->

        <div class="icon-group"
            *ngIf="flagUserAdmin && showBtnAction"
            >
            <button class="btn btn-outline-success btn-sm"
                (click)="toggleForm(item);"
                ngClass="faConfirm fa-ico">
                <fa-icon 
                    [icon]="faPen"
                    
                >
                </fa-icon>
            </button>
            <button class="btn btn-outline-danger btn-sm"
                (click)="delete(item)"
                ngClass="faCancel"
            >
                <fa-icon 
                    [icon]="faTrash"
                >
                </fa-icon>
            </button>
        </div>

    </div>  <!-- rating -->
    
</ng-container >

<app-soft-form
    *ngIf="showForm"
    [ngStyle]="{'width':'100%'}"
    [formData]="formData"
    [title]="''"
    (onUpdate)=" update($event);"
    (cancel)="cancelation($event)"

    >
</app-soft-form>