<div class="table-dark text-left container-fluid py-4" style="display: table-row-group; width:100% ">
    
    <ng-container *ngIf="baseData.hardskill.length; else agregar">

        <div id="listado" *ngIf="!showForm" 
        class="col-12"
        >

            <app-hard-item *ngFor="let item of baseData.hardskill"
                [item]="item"
                (onDelete)="openModalDelete(item)"

                [(showBtnAction)]="showBtnAction" 
                (showBtnActionChange)="showBtnAction"
            >
            </app-hard-item>

        </div>
    </ng-container>


    <app-hard-form
        *ngIf="showForm && esAdmin"

        [formData]="formData"
        [title]="''"

        (onUpdate)=" addItem($event)"
        (cancel)="cancelation()"

        [(showBtnAction)]="showBtnAction" 
        (showBtnActionChange)="showBtnAction"
        >
    </app-hard-form>

    
    <ng-template #agregar>
        <div class="table-dark text-left container"  >
            <p> Sin registrar habilidades.
            </p>
        </div>
    </ng-template>

</div>


<ng-container *ngIf="esAdmin && showBtnAction">
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            
            >
        </fa-icon>
    </button>
</ng-container>