<ng-container *ngIf="myData.length; else agregar">
    <div class="table-dark text-center container p-5" style="display: table-row-group;"
    *ngIf="!showForm"
        >

        <app-hard-item 
            *ngFor="let item of myData"
            [item]="item"

            (onDelete)="deleteItem(item)"
            [(showBtnAction)]="showBtnAction"
        >
        </app-hard-item>

    </div>
</ng-container>


<app-hard-form
    *ngIf="showForm && flagUserAdmin"

    [formData]="formData"
    [title]="'Ingrese una habilidad'"

    (showBtnActionChange)="showBtnAction"
    (onUpdate)=" addItem($event)"
    (cancel)="cancelation($event)"
>
</app-hard-form>

<ng-template #agregar>
    <div class="table-dark text-left container"  >
        <p> Sin registrar habilidades.
        </p>
    </div>
</ng-template>

<ng-container *ngIf="flagUserAdmin && showBtnAction"
>
    <br>
    <button class="btn btn-default btn-sm" 
        ngClass="faControl fa-ico"
        (click)="toggleForm()"
        >
        <fa-icon
        ngClass="fa-3x text-primary"
            [icon]="faPlusCircle"
            
            >
        </fa-icon>
    </button>
</ng-container>