<!-- Controles para la administracion de Organizacion y RolePosition -->

<ul class="head form-row p-1 d-flex border rounded fade-in-ul justify-content-center  m-1 mb-0 " id="accederModal">

  <div class="col d-flex align-items-center justify-content-center">
    <h4 class="form-label">Administrar</h4>
  </div>

  <div class=" col d-flex">

    <li class="justify-content-center">
      <ng-container class="form-group col-md-6">

        <button (click)="openOrganization()" [ngClass]="{'btn btn-primary btn-sm m-2': baseData.organization.length, 
                      'btn btn-warning btn-sm m-2': !baseData.organization.length}">
          <ng-container *ngIf="!baseData.organization.length; else verOrga">
            Crear organizaciones
          </ng-container>
          <ng-template #verOrga>Ver organizaciones</ng-template>
        </button>

      </ng-container>
    </li>
    <li class="justify-content-center">
      <ng-container class="col-md-3">

        <button (click)="openRolePosition()" [ngClass]="{'btn btn-primary btn-sm m-2': baseData.roleposition.length, 
                      'btn btn-warning btn-sm m-2': !baseData.roleposition.length}">
          <ng-container *ngIf="!baseData.roleposition.length; else verRole">
            Crear posiciones
          </ng-container>
          <ng-template #verRole>Ver posiciones</ng-template>
        </button>

      </ng-container>
    </li>
  </div>

</ul>

<!-- FIN Controles para la administracion de Organizacion y RolePosition -->


<form class="form-row p-1 d-flex justify-content-around" 
[formGroup]="form" #myForm="ngForm"
  (ngSubmit)="onEnviar($event); myForm.resetForm()">


  <!-- SELECT ORGANIZACION Y POSICION -->
  <div class="form-row">

    <!-- ORGANIZACION -->
    <div class="form-group col-md-6 ">
      <label class="form-label" for="organization">Organizacion</label>


      <select class="form-control" formControlName="organization" name="organization"
        [compareWith]="compararOrganizacion"
        [ngClass]="{'error is-invalid': (Organization?.invalid && Organization?.touched), 'is-valid': Organization.valid}">

        <option name="defaultOrg" *ngIf="!baseData.organization.length" value="" disabled selected>Sin datos</option>
        <option *ngFor="let elemento of baseData.organization" [ngValue]="elemento">
          {{elemento.name}} </option>

      </select>

      <div class="row error-container mx-auto">
        <small class="mensajeError mx-1" *ngIf="!baseData.organization.length"> Debe crear organizaciones
        </small>
        <ng-container *ngIf="(Organization.invalid && Organization.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'organization')"> Falta seleccionar
          </small>

        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>

    </div> <!-- FIN ORGANIZACION -->

    <!-- POSICION -->

    <div class="form-group col-md-6">

      <!-- https://www.arquitecturajava.com/angular-select-y-todas-sus-opciones/ -->
      <label class="form-label" for="roleposition">Posicion/Rol</label>
      <select class="form-control" formControlName="roleposition" name="roleposition" [compareWith]="compararRoles"
        [ngClass]="{'error is-invalid': (Roleposition?.invalid && Roleposition?.touched), 'is-valid': Roleposition.valid}">

        <option name="defaultRol" *ngIf="!baseData.roleposition.length" value="" disabled selected>Sin datos</option>
        <option *ngFor="let elemento of baseData.roleposition" [ngValue]="elemento">
          {{elemento.name}}</option>

      </select>

      <div class="row error-container mx-auto">
        <small class="mensajeError mx-1" *ngIf="!baseData.roleposition.length"> Debe crear posiciones
        </small>
        <ng-container *ngIf="(Roleposition?.invalid && Roleposition?.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'roleposition')"> Falta seleccionar
          </small>


        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>
    </div> <!--FIN POSICION  -->

  </div> <!--FIN ORGANIZACION Y POSICION-->

  <!-- RESUMEN -->
  <div class="row" style="width:100% ">
    <div class="col-12">
      <label class="form-label" for="resume">Resumen:</label>
      <textarea type="text" rows="6" id="resume" formControlName="resume" name="resume" class="form-control "
        placeholder="De forma compacta, mencione los aspectos claves del puesto" formControlName="resume" [ngClass]="{'error is-invalid': (Resume.invalid && Resume.touched)
        , 'is-valid':Resume.valid}"></textarea>
    </div>

    <div class="row error-container text-justify-left mx-3">
      <ng-container *ngIf="(Resume.invalid && Resume.touched); else isOk">

        <div class="mensajeError mx-1" *ngIf="form.hasError('required', 'resume')"> Dato requerido </div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('minlength', 'resume')"> Mínimo {{
          Resume.errors.minlength.requiredLength }} caracteres</div>
        <div class="mensajeError mx-1" *ngIf="form.hasError('maxlength', 'resume')"> Máximo {{
          Resume.errors.maxlength.requiredLength }} caracteres</div>

      </ng-container>
      <ng-template #isOk>
      </ng-template>
    </div>

  </div> <!-- FIN RESUMEN -->

  <!-- FECHA DE INICIO Y FECHA FIN -->
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="form-label" for="startDate">Desde:</label>
      <input type="date" id="startDate" name="startDate" class="form-control p-2" formControlName="startDate" [ngClass]="{'error is-invalid': (StartDate.invalid && StartDate.touched),
      'is-valid':StartDate.valid}">


      <div class="row error-container mx-auto">
        <ng-container *ngIf="(StartDate.invalid && StartDate.touched); else isOk">

          <small class="mensajeError mx-1" *ngIf="form.hasError('required', 'startDate')"> Dato requerido
          </small>
          <small class="mensajeError mx-1" *ngIf="!form.errors?.['mayorDate']">Debe ser > a fecha nacimeinto
          </small>
        </ng-container>
        <ng-template #isOk>
        </ng-template>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label class="form-label" for="endDate">Hasta:</label>
      <input type="date" id="endDate" name="endDate" class="form-control p-2" formControlName="endDate"
        [ngClass]="{'error is-invalid': (EndDate.invalid && EndDate.touched), 'is-valid':EndDate.valid}"
        [attr.min]='StartDate.value'>
        
        <div class="row error-container mx-auto">
          <ng-container *ngIf="form.errors?.['dateRange'] else isOk">
    
            <small class="mensajeError mx-1"> Ingrese un rango válido</small>
    
          </ng-container>
          <ng-template #isOk>
          </ng-template>
        </div>
    </div>

  </div> <!-- FIN FECHAS INICIO Y FIN -->


  <!-- SUBMIT O CANCELAR Y CERRAR -->
  <div class="form-row m-4" style="width:100% ">
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button type="submit" class="btn btn-success btn-sm p-2 m-2" [disabled]="!form.valid">
        Guardar
      </button>
    </div>
    <div class="form-group col d-flex align-items-center m-auto justify-content-around">
      <button class="btn btn-danger btn-sm p-2 m-2" (click)="onCancel($event); myForm.resetForm()">
        Cancelar
      </button>
    </div>
  </div> <!-- FIN SUBMIT CANCEL -->


</form>