
<div
    class="" 
    id="modal-content-wrapper" 
    tabindex="-1" 
    role="dialog" 
    [ngStyle]="{'background-color': 'showConfirmAction' ? modalData.backColor: 'red'}"
>

    <div class="modal-header">
      <h4 class="modal-title">
        {{ modalData.title }}
      </h4>
      <button type="button" class="close" aria-label="Close" 
        (click)="dismiss()"
        >
        <span aria-hidden="false">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        {{ modalData.description }}
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" 
            (click)="decline()"
          >
            <span *ngIf="modalData.cancelActionText else default">
              {{  modalData.cancelActionText }}
            </span>
            <ng-template #default>
                Cancelar
            </ng-template>
          </button>


          <button type="button" class="btn btn-danger" 
            (click)="accept()"
          >
            <span *ngIf="modalData.actionButtonText else default2">
              {{  modalData.actionButtonText }}
            </span>
            <ng-template #default2>
                Aceptar
            </ng-template>
          </button>
      </div>

</div>
